.cv
{
	width: 780px;
	display: flex;
	flex-direction: row;
	position: relative;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-size: 15px;
    border: 2px black solid;
}
.gauche
{
    width:30%;
    background-color: #38838f;
}
.profile
{
	border:1px solid 0;
	width: 100%;
	margin: auto;
	text-align: center;
	height: 15%;
}
.profile img
{
	border-radius:50%;
	 margin-top: 40px;
}
.box1
{
	border:1px solid 0;
	width: 100%;
	height: 25%;
	margin: auto;
}
.box2
{
	border:1px solid 0;
	width: 100%;
	height: 47%;
	margin: auto;
}.box3
{
	border:1px solid 0;
	width: 100%;
	height: 12%;
	margin: auto;
	margin-bottom: 0px;
}
.top
{
	border:1px solid 0;
	background-color:grey;
	width: 99%;
	text-align: center;
}
.iconesloisirs
{
    border: 1px solid 0;
    width: 85%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icones
{
    width: 55px;
    height: 54px;
    display: flex;
    border: 1px solid;
    border-radius: 100%;
    border: 1px solid black;
}
.fa-running
{
	color: black;
    font-size: 30px;
    margin: auto;   
}
.fa-plane-departure
{
	color: black;
    font-size: 30px;
    margin: auto;   
}
.fa-swimming-pool
{
	color: black;
    font-size: 30px;
    margin: auto;   
}
.droite
{
	margin-top: 60px;
    width:70%;
}
.droite h3
{
    border-bottom: 1px solid #38838f;
    padding: 10px; 
}
.information
{
    width: 85%;
    margin: auto;
    border:1px solid 0;
    text-align: justify;
}
.droite p
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
.droite h3
 {
    border-bottom: 1.5px solid #38838f;
    padding: 10px;
 }
 .name
 {
 	border: 1px solid 0;
 	width: 85%;
 	height: 150px;
 	margin: auto;
 }
 .name h2
 {
 	margin: 0px 0px 0px 0px;
 }
 h1
 {
 	font-size: 50px;
 	margin: 0px;
    margin-top: 20px;
 	padding: 0px;
 }
h3
 {
    font-size: 20px;
 }
 h4
 {
 	margin-top: 20px;
    margin-bottom: 0px;
 }
 h5
 {
 	margin-top: 0px;
    margin-bottom: 10px;
 }
ul
{
 	display: flex;
    padding: 0;
    list-style:none;
}
.underline 
{
  border-bottom: 1px solid #38838f;
}
.prénom
{
    color : #38838f;
}
.formation
{
	width: 85%;
	margin: auto;
}
.experience
{
	width: 85%;
	margin: auto;
}
.recommandations
{
	width: 85%;
	margin: auto;
}
.first
{
	border: 1px solid 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.second
{
	border: 1px solid 0;
	width: 100%;
	display: flex;
	flex-direction: row; 
}
.third
{
	border: 1px solid 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.dateformation
{
	border: 1px solid 0;
 	width: 40%;
}
.CaptionFormations
{
	border: 1px solid 0;
	width: 55%;
}
.dateExperience
{
	width: 40%;
}
.CaptionExperience
{
	width: 50%;
}
.recommend-box
{
	border:1px solid 0;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.andreas
{
	border:1px solid 0;
	width: 35%;
}
.simone
{
	border:1px solid 0;
	width: 35%;
}
.fa-dot-circle
{
	margin-right: 10px;
	font-size: 12px;
}
.fa-circle
{
	margin-right: 10px;
	font-size: 12px;
}
.fa-graduation-cap
{
	margin-right: 10px;
	font-size: 25px;
	color:#38838f;
}
.fa-briefcase
{
	margin-right: 10px;
	font-size: 25px;
	color:#38838f;
}
.fa-pen-alt
{
	margin-right: 10px;
	font-size: 25px;
	color:#38838f;
}
@media all and (max-width:780px)
{
	.cv
	{
		width:auto;
		display: flex;
		flex-direction:column;
	}
	.gauche
	{
		width:100%;
	}
	.droite
	{
		width:100%;
		align-items: center;
		text-align: center;
	}
	img
	{
        margin: auto;
    }
    .information 
    {
        text-align: center;
    }
    h3
    {
    	text-align: center;
    }
    .dateformation
    {
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	text-align: center;
    }
    .dateExperience
    {
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	text-align: center;
    }
    .first
    {
    	width:100%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	text-align: center;
    }
    .second
    {
    	width:100%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	text-align: center;
    }
    .third
    {
    	width:100%;
    	display: flex;
    	flex-direction: column;
    	text-align: center;
    	align-items: center;
    }
    .recommend-box
    {
    	width: 100%;
    	display: flex;
    	flex-direction: column;
    }
    .andreas
    {
    	width: 100%;
    	align-items: center;
    }
    .simone
    {
    	width: 100%;
    	align-items: center;
    }
}	
@media screen and (max-width:500px)
{
	.cv
	{
		width:auto;
		display: flex;
		flex-direction:column;
	}
	h1
	{
		font-size: 40px;
	}
	.name h2
	{
		font-size: 25px;
	}
	.gauche
	{
		width: 100%;
	}
	.droite
	{
		width: 100%;
	}
}
@media screen and (max-width:350px)
{
	.cv
	{
		width:auto;
		display: flex;
		flex-direction:column;
	}
	.gauche
	{
		width:100%;
	}
	.droite
	{
		width:100%;	
	}
	h1
	{
		font-size: 35px;
	}
	.name h2
	{
		font-size: 20px;
	}
}