.cv
{
	display: flex;
	border:2px solid black;
	width:780px;
	margin:auto;
}
.gauche
{
	display:flex;
	flex-direction: column;
	width:28%;
	background-color: #38838f;
	border:1px solid 0;
}
.gauche h2
{
	background-color: grey;
	text-align: center;
}
.gauche p
{
	font-size: 12px;
	text-align:justify;
	padding: 20px 
}
.profile img
{
	border-radius:50%;
}
.profile
{
	border:1px black solid 0;
	height:15%;
	width: 100%;
	margin:auto;
	text-align: center;
	margin-top:10px;
}
.Contact
{
	border:1px black solid 0;
	height:27%;
	width: 100%;
}
.moi
{
	border:1px black solid 0;
	height:40%;
	width: 100%;
}
.loisirs
{
	border:1px black solid 0;
	height:18%;
	width: 100%;
}
.icon-big
{
	border:1px black solid 0;
	height:60%;
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction:row;
	align-content: center;
}
.icons
{
	border:1px black solid;
	width:50px;
	height:50px;
	margin:auto;
	border-radius:50%;
}
.droite
{
	display:flex;
	flex-direction:column;
	border:1px black solid 0;
	width:72%;
	margin:auto;
}
.heading
{
	border:1px black solid 0;
	width:90%;
	height:160px;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.name
{
	border:1px black solid 0;
	height:65px;
	font-size: 20px;
}
.profession
{
	border:1px black solid 0;
	height:25px;
	font-size: 19px;
	position: relative;
}
.profession::after
{
	content:'';
	height:1.5px;
	width:10%;
	position: absolute;
	background-color: #38838f;
	left: 0;
	bottom:0;
}
.formation
{
	border:1px black solid 0;
	width:98%;
	height: 35%;
	margin: auto;
}
.heading-section
{
	border:1px black solid 0;
	width:95%;
	height:50px;
	margin:auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px #38838f solid;
} 
.logo
{
	width: 10%;
	margin-top: 8px;
	margin-left: 5px;
}
.section-heading
{
	width: 88%;
}
.details-f
{
	border:1px black solid ;
	width:95%;
	margin: auto;
}
.first-f
{
	width:90%;
	height:30%;
	border:1px black solid;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.second-f
{
	width:90%;
	border:1px black solid;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.third-f
{
	width:90%;
	border:1px black solid;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.dates-f
{
	width:35%;
	border:1px black solid;
}
.description-f
{
	width: 50%;
	border:1px black solid;
}
.experience
{
	border:1px black solid 0;
	width:95%;
	height:35%;
}
.details-e
{
	border:1px black solid 0;
	width:95%;
	margin: auto;
}
.first-e
{
	width:90%;
	margin: auto;
	border:1px black solid 0;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.second-e
{
	width:90%;
	margin: auto;
	border:1px black solid 0;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.third-e
{
	width:90%;
	margin: auto;
	border:1px black solid 0;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.dates-e
{
	width:35%;
	border:1px black solid 0;
}
.description-e
{
	width: 50%;
	border:1px black solid 0;
	margin-top: 10px;
}
.recommendations
{
	border:1px black solid 0;
	width:95%
	height:30%;
}
.recommend-box
{
	border: 1px black solid 0;
	width:85%;
	margin: auto;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.section-gauche
{
	border:1px black solid 0;
	font-size: 13px;
	width:40%;
}
.section-droite
{
	border:1px black solid 0;
	font-size: 13px;
	width:40%;
}
.detail-heading
{ 
	font-size:16px;
}
.sub-heading
{
	font-size: 13px;
}
.details-small
{
	font-size: 11px;
}
@media all and(max-width:780px)
{
	.cv
	{
		width:100%;
	}
	.droite
	{
		width:100%;
	}
	.gauche
	{
		width:100%
	}

}
@media screen and (max-width:500px)
{
	.cv
	{
		width:100%;
		display: flex;
		flex-direction:column;
	}
	.gauche
	{
		width:100%;
	}
	.gauche p
	{
		text-align:center;
	}
	.droite
	{
		width:100%
	}
	.heading
	{
		margin:auto;
	}
	.formation
	{
		margin:auto;
	}
	.experiences
	{
		margin:auto;
	}
	.recommendations
	{
		margin:auto;
	}

}
@media screen and (max-width:350px)
{
	.cv
	{
		width:100%;
		display: flex;
		flex-direction:column;
	}
	.gauche
	{
		width:100%;
	}
	.droite
	{
		width:100%;	
	}
}